.gradle
/local.properties
.DS_Store
/build
classes/
gen/
/captures
*.iml
*.idea
/androidApp/build
/shared/build
/iosApp/iosApp.xcodeproj/xcuserdata/roberto.xcuserdatad/xcschemes/xcschememanagement.plist
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/roberto.xcuserdatad/UserInterfaceState.xcuserstate
